html {
  width: 100%;
  height: 100%;
}

body {
  background: url(/img/bkg.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: $screen-sm-min) {
  body {
    background: #F0F0F0;
  }
}

.container {
  background-color: rgba(255,255,255,0.9);
  border-radius: 1em;
  box-shadow: 0 .5 .5 rgba(0,0,0,.25);
  margin-top: 5em;
  position: relative;
  z-index: 10;
}

@media (max-width: $screen-sm-min) {
  .container {
    background-color: #F0F0F0;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
  }
}

.logo {
  background: url(/img/logo.svg);
  width: 80%;
  height: 16em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2em auto 0 auto;
  text-align: center;
}

@media (max-width: 413px) {
  .logo {
    margin: 0 auto;
    height: 10em;
  }
}

@media (min-width: 414px) and (max-width: $screen-sm-min) {
  .logo {
    margin: 2em auto;
    height: 10em;
  }
}

.subtitle {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 2em;
  color: #57524d;
}

@media (max-width: 413px) {
  .subtitle {
    font-size: 1em;
  }
}

@media (min-width: 414px) and (max-width: $screen-sm-min) {
  .subtitle { 
    font-size: 1.5em;
  }
}

.step-header {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #36302B;
  text-align: center;
}

.instructions {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #57524D;
  text-align: center;
}

.footer {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #57524D;
  font-size: .8em;
}

#signin {
  width: 80%;
  margin-bottom: 5em;
}

#location {
  width: 80%;
  margin-bottom: 5em;
  position: relative;
  z-index: 1;
}

#googlemaps {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#picktimedate {
  width: 50%;
  text-align: center;
  display: inline-block;
  font-family: "Lato", sans-serif;
}

#polltimedate {
  width: 50%;
  display: inline-block;
  font-family: "Lato", sans-serif;
  text-align: center;
}

#polltimedate-checkbox {
  font-size: 1.25em;
}

.text-input {
  font-family: "Lato", sans-serif;
  text-align: center;
}

#datepicker {
  margin-bottom: 1em;
}

.ui-datepicker {
  box-shadow: 0 4px 5px rgba(0,0,0,0.1) !important;
}

.ui-widget-header {
  background: $brand-primary !important;
  color: #F0F0F0 !important;
  border-radius: 0 !important;
  font-family: 'Lato', sans-serif !important;
}

.ui-state-default {
  background: #eee !important;
  font-family: 'Lato', sans-serif !important;
}

.ui-datepicker-calendar {
  thead {
    font-family: 'Lato', sans-serif !important;
  }
}

.ui-datepicker-today {
  background: $brand-success !important;
  a {
    background: transparent !important;
    color: #fff !important;
    font-weight: 700 !important;
  }
}

#time-hour {
  width: 5em;
  display: inline-block;
}

#time-minute {
  width: 5em;
  display: inline-block;
}

#ampm {
  width: 5em;
  display: inline-block;
}

.next {
  margin-top: 3em;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding-left: 2em;
  padding-right: 2em;
}
.copy {
  margin-top: 1em;
  font-size: 2em;
  font-weight: 700;
  padding-left: 2em;
  padding-right: 2em;
}

.go {
  margin-top: 1em;
  font-size: 2em;
  font-weight: 700;
  padding-left: 2em;
  padding-right: 2em
}

#powered-by-yelp {
  display: block;
  width: 129px;
  height: 30px;
  margin: 1em auto;
}

.yelp-results {
  list-style-type: none;
  padding-left: 0;
  li {
    display: table;
    width: 100%;
    margin-bottom: .5em;
  }
}

.poll-results {
  padding-left: 0px;
  li {
    display: table;
    width: 100%;
    margin-bottom: .5em;
  }
}

.yelp-result {
  list-style-type: none;
  background-size: cover;
  background-position: center;
  background-color: #aaa;
  height: 10em;
  color: #F0F0F0;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #fff;
  width: 100%;
  border-radius: .5em;
}

.placereview {
  font-style: italic;
  font-size: .8em;
  padding-left: 2.5em;
  img {
    height: 20px;
    width: auto;
  }
}

.placename {
  font-weight: bold;
  font-size: 2em;
  text-shadow: 0 .05em .05em rgba(0, 0, 0, 0.25);
  padding-top: 40px;
  a, a:active, a:hover, a:focus, a:visited {
    color: #F0F0F0;
    text-decoration: none;
    padding-left: 1em;
  }
}

.yelpstar {
  width: 20px;
  height: 20px;
  margin: 0 2px 0 0;
}

.or {
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 2em;
}

#pollplace-checkbox {
  text-align: center;
  margin: 0 auto;
  font-size: 1.25em;
}

.moreinfo {
  padding-top: 40px;
  padding-right: 40px;
}

.price {
  color: $brand-success;
  font-size: 1.5em;
  font-weight: 700;
}

.category {
  color: $gray-base;
}

.address {
  padding-top: .5em;
}

.phone {
  padding-top: .5em;
}

.website {
  padding-top: .5em;
}

.yelplink {
  text-align: right;
  a {
    color: $gray-base;
    text-decoration: none;
    img {
      width: 76px;
      height: 38px;
    }
  }
}

.share-url {
  color: #000;
  cursor: text !important;
}

.admin-url {
  color: #000;
  cursor: text !important;
}

.top-space {
  margin-top: 3em;
}

.time-wrapper {
  text-align: center;
  width: 100%;
  display: block;
}

.time {
  display: inline-block;
  margin: 0 auto;
}

.invite-text {
  font-size: 1.5em;
  text-align: center;
  margin: 0 2em;
}

.inviter-name, .invite-place-name, .invite-date, .invite-time{
  font-weight: 700;
}

.rsvp {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  -webkit-appearance: none;
  border: 2px solid $brand-primary;
  border-radius: 100%;
  background-color: #F0F0F0;
}

.rsvp:checked {
  background-color: #aaa;
  border: 2px solid $brand-primary;
} 

.suggest {
  margin-left: 1em;
  &:before {
    content: '+ ';
    font-weight: 700;
  }
}

.remove {
  margin-left: 1em;
  &:before {
    content: '- ';
    font-weight: 700;
  }
}

.votes {
  padding-left: 2em;
  font-weight: 700;
}

.pick {
  margin-left: 1em;
}
