html(lang='en')
  head
    meta(charset='utf-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Spork
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
      //script(type="text/javascript" src="https://cdn.rawgit.com/miguel-perez/smoothState.js/master/jquery.smoothState.min.js")
    block style
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300')
  body
    .container
      .header.center-block
        .logo
        h2.subtitle.center-block= "the easy way to plan outings with friends"

      block content
      
      .footer
        p &copy Copyright 2016 Zach Clute & Andrew Carnes
    
    block prefooter

    block footer-scripts
      script(src="/js/bundle.js")
