extends layouts/layout.jade

block content
  form(enctype='application/json' action="location" method="post")#signin.center-block
    .form-container.form-group
      input.text-input.form-control.input-lg(
        type='text'
        name='signin'
        autocomplete='on'
        autofocus='true'
        placeholder='Enter your name'
        required
      )
    button.next.btn.btn-success.center-block(
        type='submit'
    ) Next

block append footer-scripts
  script. 
    $(function() {
      $('#signin').smoothState();
    });
