extends layouts/layout.jade

block content
  form#invite-name.center-block
    h3.step-header Hi there! What's your name?
    .form-container.form-group
      input.text-input.form-control.input-lg(
        type='text'
        name='invitename'
        autofocus
        required
      )
      button.next.btn.btn-success.center-block(
        type='submit'
      ) Next
