extends layouts/layout.jade

block content
  form#invite-confirm.center-block
    h3.step-header Hi Zach!
    .invite-text
      span.inviter-name
        | Andrew
      span
        |  has invited you to meet at
      span.invite-place-name
        |  Melt Gourmet Cheeseburgers
      span
        |  on
      span.invite-date
        |  March 12th
      span
        |  at
      span.invite-time
        |  12:30 pm
      span
        | . Can you make it?
    input.rsvp.form-control.input-lg(
      type='radio'
      name='rsvp'
      value='Yes'
    )
    | Yes
    input.rsvp.form-control.input-lg(
      type='radio'
      name='rsvp'
      value='No'
    )
    | No
