extends layouts/layout.jade

block append scripts
  script(src="http://maps.googleapis.com/maps/api/js?sensor=false")

block prefooter
  #googlemaps

block content
  form(enctype='application/json' action='timedate' method='post')#location.center-block
    h3.step-header Hi #{signin}. Where do you want to go?
    .form-container.form-group
      p.instructions= "Spork will use your current location automatically, but you can set one yourself."
      input.text-input.form-control.input-lg(
        type='text'
        name='location'
        autofocus
        placeholder='Enter a location'
        required
      )
      input(
        type='hidden'
        name='latLng'
        required
      )
      input(
        type='hidden'
        name='signin'
        value=signin
        required
      )
    button.next.btn.btn-success.center-block(
      type='submit'
    ) Next

block append footer-scripts
  script(src="/js/location.js")
  script. 
    $(function() {
      $('#location').smoothState();
    });
