extends layouts/layout.jade

block append style
  style.
    body {
      height: 2359px;
    }

block content
  form(enctype='application/json' action='event' method='post')#place.center-block
    #instantSearch
    //h3.step-header What are you in the mood for?
    //.form-container.form-group
    //  //this will be used for our react search component
    //  #place-input
    //  //input.text-input.form-control.input-lg(
    //  //  type='text'
    //  //  name='place'
    //  //  autofocus
    //  //  placeholder='Enter something like "Italian" or "Ice Cream."'
    //  //  required
    //  //)
    //  //#pollplace.center-block
    //    span.or.center-block OR
    //    label#pollplace-checkbox.center-block
    //      input(type='checkbox' value='')
    //      | Poll participants to pick a place

    //ul.yelp-results
    //  li
    //    ul(class='yelp-result' style='background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://s3-media4.fl.yelpcdn.com/bphoto/1BN0K1WW7K7XVCZDX2w7bg/o.jpg); background-position: center;')
    //      li.placename 
    //        input(type='checkbox' value='' data-toggle='tooltip' data-placement='left' title='Suggest Melt Gourmet Cheeseburgers to your friends')
    //        a(role='button' data-toggle='collapse' href='#meltCollapse' aria-expanded='false' aria-controls='meltCollapse') Melt Gourmet Cheeseburgers
    //      li.placereview 
    //        img(class='yelpstar' src='/img/yelpstars/20x20_4.png')
    //        img(class='yelpstar' src='/img/yelpstars/20x20_4.png')
    //        img(class='yelpstar' src='/img/yelpstars/20x20_4.png')
    //        img(class='yelpstar' src='/img/yelpstars/20x20_4.png')
    //        img(class='yelpstar' src='/img/yelpstars/20x20_4-5.png')
    //        | based on 677 reviews
    //      li.moreinfo
    //        .collapse#meltCollapse
    //          .well
    //            ul
    //              li.price $$
    //              li.category Burgers
    //              li.address 
    //                a(href='https://www.google.com/maps/place/Melt+Gourmet+Cheeseburgers/@39.1081023,-77.5548753,17z/data=!3m1!4b1!4m2!3m1!1s0x89b63d78442127d1:0x4b7214ec440beaa4' target='_blank')
    //                  | 525 E Market St
    //                  br
    //                  | Ste J
    //                  br
    //                  | Leesburg, VA 20176
    //              li.phone
    //                a(href='tel:7034432105') (703) 443-2105
    //              li.website
    //                a(href='http://meltgourmetcheeseburgers.com' target='_blank') meltgourmetcheeseburgers.com
    //              li.hours 11:00 am - 9:00 pm
    //              li.yelplink
    //                a(href='https://www.yelp.com/biz/melt-gourmet-cheeseburgers-leesburg' target='_blank') View more on 
    //                  img(src='/img/yelp-logo-medium@2x.png')

    //  li
    //    ul(class='yelp-result' style='background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://s3-media4.fl.yelpcdn.com/bphoto/GkGxQLZBc6nslHDOgXGP8w/o.jpg); background-position: center;')
    //      li.placename BURGERFI
    //      li.placereview 
    //        img(class='yelpstar' src='/img/yelpstars/20x20_3@2x.png')
    //        img(class='yelpstar' src='/img/yelpstars/20x20_3@2x.png')
    //        img(class='yelpstar' src='/img/yelpstars/20x20_3@2x.png')
    //        img(class='yelpstar' src='/img/yelpstars/20x20_3-5@2x.png')
    //        img(class='yelpstar' src='/img/yelpstars/20x20_0@2x.png')
    //        | based on 205 reviews
    // a(
    //    id='powered-by-yelp'
    //    class='center-block'
    //    href='http://yelp.com'
    //    target='_blank'
    //  )
    input(
      type='hidden'
      name='ampm'
      value=ampm
      required
    )

    input(
      type='hidden'
      name='timeMinute'
      value=timeMinute
      required
    )

    input(
      type='hidden'
      name='timeHour'
      value=timeHour
      required
    )

    input(
      type='hidden'
      name='date'
      value=date
      required
    )

    input(
      type='hidden'
      name='location'
      value=location
      required
    )

    input(
      type='hidden'
      name='latLng'
      value=latLng
    )

    input(
      type='hidden'
      name='signin'
      value=signin
      required
    )

    button.next.btn.btn-success.center-block(
      type='submit'
    ) Next

block append footer-scripts
  //script(src="js/place.js")
  script.
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      $("#placeInput").bind('focusin focus', function(e) {
        e.preventDefault();
        $('html, body').animate({
          scrollTop: $("#placeInput").offset().top
        }, 500);
      });
    });

