extends layouts/layout.jade

block content
  .center-block#results
    h3.step-header #{signin} invited you to meet on #{date} at #{timeHour} : #{timeMinute} #{ampm}
      p.instructions Share this page with invitees so they can vote
    h3.step-header Here's where your friends want to go:
    .form-container.form-group
    ol.poll-results
      each business in suggestions
        li
          ul(class='yelp-result' style='background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{business.image_url}); background-position: center;')
            li.placename 
              form(enctype='application/json' action='#{eventId}/vote' method='post')
                a(role='button' data-toggle='collapse' href='#'+business.id+'Collapse' aria-expanded='false' aria-controls=business.id+'Collapse') #{business.name}
                if !didUserVote
                  input(
                    type='hidden'
                    name='vote'
                    value=business.id
                    required
                  )
                  button( type="submit" class="btn btn-success pick")
                    | Vote &#x2713
            li.votes
              | #{business.sporkVotes} votes
            li.placereview 
              <img src=#{business.rating_img_url_large}></img>
            li.moreinfo
              div(class='collapse' id=business.id+'Collapse')
                .well
                  ul
                    li.category #{business.categories}
                    li.address 
                      a(href='http://maps.google.com/?q=' + business.name + ' ' + business.location.address target='_blank')
                        | #{business.location.address}
                        br
                        | #{business.location.city}, #{business.location.state_code} #{business.location.postal_code}
                      li.phone
                        a(href=business.phone) #{business.display_phone}
                      li.website
                      li.yelplink
                        a(href=business.url target='_blank') View more on 
                          img(src='/img/yelp-logo-medium@2x.png')
     a(
        id='powered-by-yelp'
        class='center-block'
        href='http://yelp.com'
        target='_blank'
      )
        img(src='/img/yelp_powered_btn_light.png' alt='Powered by Yelp')

block append footer-scripts
  //script(src="js/place.js")
  script.
    $(function () {
      $('#place').smoothState();
      $('[data-toggle="tooltip"]').tooltip()
    });

