extends layouts/layout.jade

block content
  form#share.center-block
    h3.step-header Now share this URL with your friends.
    .form-container.form-group
      input.share-url.text-input.form-control.input-lg(
        type='text'
        name='shareurl'
        autofocus
        disabled
        value='http://spork.host/invite/whatever'
      )
    button.copy.btn.btn-primary.center-block(
      type='submit'
    ) Copy

    h3.step-header.top-space View your poll results and see who's coming:
    .form-container.form-group
      input.admin-url.text-input.form-control.input-lg(
        type='text'
        name='adminurl'
        disabled
        value='http://spork.host/results/whatever'
      )  
      button.go.btn.btn-success.center-block(
       type='submit'
      ) Go
