extends layouts/layout.jade

block append scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
  script.
    $(function() {
    $( "#datepicker" ).datepicker();
    });

block append style
  link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')

block content
  form(enctype='application/json' action="place" method="post")#timedate.center-block
    h3.step-header= "When do you want to meet?"
    .form-container.form-group
      p.instructions= "Pick a time and date for your event."
      input.text-input.form-control.input-lg(
        type='text'
        id='datepicker'
        name='date'
        placeholder='Pick a date'
        required
      )
      .time-wrapper
        .time
          | <strong>@  </strong>
          select(name="timeHour")#time-hour.form-control.input-lg
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
            option(value='6') 6
            option(value='7') 7
            option(value='8') 8
            option(value='9') 9
            option(value='10') 10
            option(value='11') 11
            option(value='12') 12
          | <strong>  :  </strong>
          select(name="timeMinute")#time-minute.form-control.input-lg
            option(value='00') 00
            option(value='15') 15
            option(value='30') 30
            option(value='45') 45
          select(name="ampm")#ampm.form-control.input-lg
            option(value='am') AM
            option(value='pm') PM
      //#polltimedate
        label#polltimedate-checkbox
          input(type='checkbox' name="polltimedate")
          |  Poll participants for a time and date
      input(
        type='hidden'
        name='location'
        value=location
        required
      )

      input(
        type='hidden'
        name='latLng'
        value=latLng
      )

      input(
        type='hidden'
        name='signin'
        value=signin
        required
      )

    button.next.btn.btn-success.center-block(
      type='submit'
    ) Next

block append footer-scripts
  script. 
    $(function() {
      $('#timedate').smoothState();
    });
